appdirs==1.4.4
appnope 
argon2-cffi
argon2-cffi-bindings
asttokens 
attrs
audeer==1.18.0
audformat==0.14.1
audinterface==0.8.1
audiofile==1.1.0
audioread==2.1.9
audobject==0.7.1
audresample==1.1.0
backcall 
backports.zoneinfo==0.2.1
bleach 
blis==0.7.8
brotlipy==0.7.0
catalogue==2.0.8
certifi==2021.10.8
cffi 
charset-normalizer
click==8.1.3
cloudpickle==2.0.0
colorama==0.4.4
conda==4.12.0
conda-content-trust
conda-package-handling
cryptography
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
debugpy 
decorator
defusedxml 
en-core-web-sm 
entrypoints==0.3
executing
fonttools==4.30.0
h5py==3.6.0
idna
importlib-metadata 
ipykernel 
ipython
ipython-genutils
ipywidgets 
iso-639==0.4.5
jedi 
Jinja2 
joblib==1.1.0
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver==1.4.0
langcodes==3.3.0
librosa==0.9.1
liwc==0.5.0
llvmlite==0.38.0
MarkupSafe 
matplotlib==3.5.1
matplotlib-inline 
mistune 
murmurhash==1.0.7
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook
numba==0.55.1
numpy==1.21.5
opensmile==2.4.1
oyaml==1.0
packaging 
pandas==1.3.5
pandocfilters 
parso 
pathy==0.6.2
pexpect 
pickleshare 
Pillow==9.0.1
pooch==1.6.0
praat-parselmouth==0.4.1
preshed==3.0.6
prometheus-client
prompt-toolkit 
ptyprocess 
pure-eval 
pycosat==0.6.3
pycparser 
pydantic==1.9.1
Pygments 
pyOpenSSL 
pyparsing 
pyreadr==0.4.4
pyrsistent
PySocks 
python-dateutil 
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyworld==0.3.0
PyYAML==6.0
pyzmq 
qtconsole 
QtPy 
requests 
resampy==0.2.2
rpy2==3.4.5
ruamel-yaml-conda 
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Send2Trash 
shap==0.40.0
six 
slicer==0.0.7
smart-open==5.2.1
SoundFile==0.10.3.post1
sox==1.4.1
spacy==3.4.1
spacy-legacy==3.0.9
spacy-loggers==1.0.3
srsly==2.4.4
stack-data 
terminado 
testpath 
thinc==8.1.0
threadpoolctl==3.1.0
tornado 
tqdm 
traitlets 
typer==0.4.2
typing-extensions 
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.7
validators==0.18.2
wasabi==0.10.1
wcwidth 
webencodings==0.5.1
widgetsnbextension 
zipp 
